* {
  box-sizing: border-box;
}

body{
	font-family: Open Sans;
	width: 100%;
	margin: 0 auto;

}


#start-over{
	text-align: right;
	font-size: 1em;
	color: gray;
	font-weight: 600;
	padding: 1em 2.5em 0 0;
	cursor: pointer;

}


h1{
	color: gray;
	text-align: center;
	font-weight: 600;
	font-size: 4.3em;
	margin-top: .5em;

}

h2{
	font-size: 1em;
	color: gray;
	font-weight: 300;
	text-align: center;
	margin-top: -2em;
	margin-bottom: 3em;

}


#search-results{
	width: 100%;
	margin-top: 2em;
	box-sizing: border-box;

}

.photo-display{
	width:25%;
	display: inline-block;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding-top:2em;
	z-index: 1;
	margin-bottom: 3em;
	
	
}

.photo-display:hover img {
	opacity: .4;
	color:black;
	cursor:pointer;
	
}


.photo-caption {
	
	position: absolute;
	z-index: 10;
	/*margin: 0 auto;*/
	width: 25%;
	display:none;
	
	box-sizing: border-box;
	padding:0;
	margin-top: 7em;
}

.photo-caption span{
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	opacity: 1;	
}

.photo-caption:hover{
	cursor: pointer;
}

#seasons{
	width: 100%;
}

.snow, .flowers, .beach, .fall {
	float: left;
	width:25%;
	display: inline-block;
	text-align: center;
	height: 300px;
	padding-top: 3.8em;
	font-weight: 600;
	box-sizing: border-box;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.8;
}

.snow:hover, .flowers:hover, .beach:hover, .fall:hover {
	
	opacity: 1;
}


p{
	font-size: 3em;
	color: white;
	
}

img{

	margin: 0 auto;
}


.snow{
	background: url(../seasonal-instagram-hack/images/winter.png) center;
	background-repeat: no-repeat;
	opacity: 0.7;
	
}

.flowers{
	background: url(../seasonal-instagram-hack/images/spring.png) center;
	height: 300px;
	background-repeat: no-repeat;

	
}

.beach{
	background: url(../seasonal-instagram-hack/images/summer.png) center;
	height: 300px;
	background-repeat: no-repeat;

	
}

.fall{
	background: url(../seasonal-instagram-hack/images/fall.png) center;
	height: 300px;
	background-repeat: no-repeat;
	
}

#view-more{
	color: gray;
	height: 70px;
	width:140px;
	font-size: 1.3em;
	border: 4px solid gray;
	clear: both;
	text-align: center;
	padding-top: 18px;
	margin: 0 auto;
    cursor: pointer;
    display:none;

}

#view-more:hover{
	opacity: .6;
}

/*Making things responsive*/

@media only screen and (max-width: 1000px) {

.snow, .flowers, .beach, .fall {
    width: 50%;
    
   }

  .photo-caption {
  	width: 50%;

  }

  .photo-display{
	width:50%;
}

 }



@media only screen and (max-width: 600px) {

.snow, .flowers, .beach, .fall {
    width: 100%;
    
   }

   .photo-caption {
  	width: 100%;

  }

  .photo-display{
	width:100%;
}

 }
    

